# Deep Dive in Apache Spark DateTime functions

This notebook code supports the blog:  
#### Link to be added.

### Import Reuired Libraries

In [64]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

### Create SparkSession and SparkContext

In [65]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

### Create Sample DataFrame

In [66]:
emp = [(1, "AAA", "dept1", 1000, "2019-02-01 15:12:13"),
    (2, "BBB", "dept1", 1100, "2018-04-01 5:12:3"),
    (3, "CCC", "dept1", 3000, "2017-06-05 1:2:13"),
    (4, "DDD", "dept1", 1500, "2019-08-10 10:52:53"),
    (5, "EEE", "dept2", 8000, "2016-01-11 5:52:43"),
    (6, "FFF", "dept2", 7200, "2015-04-14 19:32:33"),
    (7, "GGG", "dept3", 7100, "2019-02-21 15:42:43"),
    (8, "HHH", "dept3", 3700, "2016-09-25 15:32:33"),
    (9, "III", "dept3", 4500, "2017-10-15 15:22:23"),
    (10, "JJJ", "dept5", 3400, "2018-12-17 15:14:17")]
empdf = spark.createDataFrame(emp, ["id", "name", "dept", "salary", "date"])

### add_months

In [67]:
# Add the months to the date. It will return new date after the month from the start date.
# For e.g. in below statement we have added 1 months to the column "date" and generated new column as "next_month"
df = (empdf
    .select("date")
    .withColumn("next_month", add_months("date", 1)))
df.show(2)

+-------------------+----------+
|               date|next_month|
+-------------------+----------+
|2019-02-01 15:12:13|2019-03-01|
|  2018-04-01 5:12:3|2018-05-01|
+-------------------+----------+
only showing top 2 rows

### current_date

In [68]:
# It will return current date.
df = (empdf
    .withColumn("current_date", current_date())
    .select("id", "current_date"))
df.show(2)

+---+------------+
| id|current_date|
+---+------------+
|  1|  2019-10-09|
|  2|  2019-10-09|
+---+------------+
only showing top 2 rows

### current_timestamp

In [69]:
# It will return current timestamp.
df = (empdf
    .withColumn("current_timestamp", current_timestamp())
    .select("id", "current_timestamp"))
df.show(2,False)

+---+-----------------------+
|id |current_timestamp      |
+---+-----------------------+
|1  |2019-10-09 20:55:07.696|
|2  |2019-10-09 20:55:07.696|
+---+-----------------------+
only showing top 2 rows

### date_add

In [70]:
# It will gives the date days after the start date mentioned in the function.
# for example below statement will return the date after say 5 days in new column as "next_date"
df = (empdf
    .select("date")
    .withColumn("next_date", date_add("date", 5)))
df.show(2)

+-------------------+----------+
|               date| next_date|
+-------------------+----------+
|2019-02-01 15:12:13|2019-02-06|
|  2018-04-01 5:12:3|2018-04-06|
+-------------------+----------+
only showing top 2 rows

### date_format

In [71]:
# Convert the date to specified format.
# For e.g. we will convert the date from "yyyy-MM-dd" to "dd/MM/yyyy" format.
df = (empdf
    .select("date")
    .withColumn("new_date", date_format("date", "dd/MM/yyyy")))
df.show(2)

+-------------------+----------+
|               date|  new_date|
+-------------------+----------+
|2019-02-01 15:12:13|01/02/2019|
|  2018-04-01 5:12:3|01/04/2018|
+-------------------+----------+
only showing top 2 rows

### date_sub

In [72]:
# It will return the days before the start date. Opposite of date_add.
# for example below statement will return the date before say 5 days in new column as "new_date"
df = (empdf
    .select("date")
    .withColumn("new_date", date_sub("date", 5)))
df.show(2)

+-------------------+----------+
|               date|  new_date|
+-------------------+----------+
|2019-02-01 15:12:13|2019-01-27|
|  2018-04-01 5:12:3|2018-03-27|
+-------------------+----------+
only showing top 2 rows

### date_trunc : based on year

In [73]:
# It will return timestamp truncated to the specified unit.
# Lets truncate date by year. we can use "yyyy" or "yy" or" "year" to specify Year.
df = (empdf
    .select("date")
    .withColumn("new_date", date_trunc("year", "date")))
df.show(2)

+-------------------+-------------------+
|               date|           new_date|
+-------------------+-------------------+
|2019-02-01 15:12:13|2019-01-01 00:00:00|
|  2018-04-01 5:12:3|2018-01-01 00:00:00|
+-------------------+-------------------+
only showing top 2 rows

### date_trunc : based on Month

In [74]:
# Lets truncate date by Month. we can use "mm" or "month" or" "mon" to specify Month.
df = (empdf
    .select("date")
    .withColumn("new_date", date_trunc("month", "date")))
df.show(2)

+-------------------+-------------------+
|               date|           new_date|
+-------------------+-------------------+
|2019-02-01 15:12:13|2019-02-01 00:00:00|
|  2018-04-01 5:12:3|2018-04-01 00:00:00|
+-------------------+-------------------+
only showing top 2 rows

### date_trunc : based on Day

In [75]:
# Lets truncate date by Day. we can use "day" or "dd"  to specify Day.
df = (empdf
    .select("date")
    .withColumn("new_date", date_trunc("day", "date")))
df.show(2)

# Note can use these many formats to truncate the date based on different level.
# Format : ‘year’, ‘yyyy’, ‘yy’, ‘month’, ‘mon’, ‘mm’, ‘day’, ‘dd’, ‘hour’, ‘minute’, ‘second’, ‘week’, ‘quarter’

+-------------------+-------------------+
|               date|           new_date|
+-------------------+-------------------+
|2019-02-01 15:12:13|2019-02-01 00:00:00|
|  2018-04-01 5:12:3|2018-04-01 00:00:00|
+-------------------+-------------------+
only showing top 2 rows

### datediff

In [76]:
# It will return the difference between the dates in terms of days
# Lets add another column as current date and takes the difference with "date" column here.
df = (empdf.select("date")
        # Add another date column as current date.
        .withColumn("current_date", current_date()) 
        # Take the difference between current_date and date column.
        .withColumn("date_diff", datediff("current_date", "date"))) 
df.show(2)

+-------------------+------------+---------+
|               date|current_date|date_diff|
+-------------------+------------+---------+
|2019-02-01 15:12:13|  2019-10-09|      250|
|  2018-04-01 5:12:3|  2019-10-09|      556|
+-------------------+------------+---------+
only showing top 2 rows

### dayofmonth

In [77]:
# It will return the date of the month.
# For e.g. for 5th Jan 2019 (2019-01-05) it will return 5. 
df = (empdf
    .select("date")
    .withColumn("dayofmonth", dayofmonth("date")))
df.show(2)

+-------------------+----------+
|               date|dayofmonth|
+-------------------+----------+
|2019-02-01 15:12:13|         1|
|  2018-04-01 5:12:3|         1|
+-------------------+----------+
only showing top 2 rows

### dayofweek

In [78]:
# it will return day of week as integer. It will consider Sunday as 1st day and Saturday as 7th Day.
df = (empdf
    .select("date")
    .withColumn("dayofweek", dayofweek("date")))
df.show(2)

+-------------------+---------+
|               date|dayofweek|
+-------------------+---------+
|2019-02-01 15:12:13|        6|
|  2018-04-01 5:12:3|        1|
+-------------------+---------+
only showing top 2 rows

### dayofyear

In [79]:
# It will return day of the year as integer.
# For e.g. for 5th Jan it will return 5. for 1st Feb it will return 32.
df = (empdf
    .select("date")
    .withColumn("dayofyear", dayofyear("date")))
df.show(2)

+-------------------+---------+
|               date|dayofyear|
+-------------------+---------+
|2019-02-01 15:12:13|       32|
|  2018-04-01 5:12:3|       91|
+-------------------+---------+
only showing top 2 rows

### from_utc_timestamp

In [80]:
# Convert UTC timestamp to timestamp of any specified timezone. Default, it will assume that date is in UTC timestamp.
# For e.g. lets convert the UTC timestamp to "PST" time.
df = (empdf
    .select("date")
    .withColumn("pst_timestamp", from_utc_timestamp("date", "PST")))
df.show(2)

+-------------------+-------------------+
|               date|      pst_timestamp|
+-------------------+-------------------+
|2019-02-01 15:12:13|2019-02-01 07:12:13|
|  2018-04-01 5:12:3|2018-03-31 22:12:03|
+-------------------+-------------------+
only showing top 2 rows

### unix_timestamp

In [81]:
# Convert timestamp string with given format to Unix time stamp (in Seconds). Default format is "yyyy-MM-dd HH:mm:ss".
# You can use spark property : "spark.sql.session.timeZone" to set the timezone.

df = (empdf
    .select("date")
    .withColumn("unix_timestamp", unix_timestamp("date", "yyyy-MM-dd HH:mm:ss")))
df.show(2)

+-------------------+--------------+
|               date|unix_timestamp|
+-------------------+--------------+
|2019-02-01 15:12:13|    1549033933|
|  2018-04-01 5:12:3|    1522559523|
+-------------------+--------------+
only showing top 2 rows

### from_unixtime

In [82]:
# Converts the number of seconds from unix epoch (1970-01-01 00:00:00 UTC) to a given string format. You can set the timezone and format as well.
# You can use spark property : "spark.sql.session.timeZone" to set the timezone.

df = (empdf
    .select("date")
    # Convert timestamp to unix timestamp.
    .withColumn("unix_timestamp", unix_timestamp("date", "yyyy-MM-dd HH:mm:ss"))
    # Convert unix timestamp to timestamp.
    .withColumn("date_from_unixtime", from_unixtime("unix_timestamp")))
df.show(2)

+-------------------+--------------+-------------------+
|               date|unix_timestamp| date_from_unixtime|
+-------------------+--------------+-------------------+
|2019-02-01 15:12:13|    1549033933|2019-02-01 15:12:13|
|  2018-04-01 5:12:3|    1522559523|2018-04-01 05:12:03|
+-------------------+--------------+-------------------+
only showing top 2 rows

### hour

In [83]:
# It will return hour part of the date.
df = (empdf
    .select("date")
    .withColumn("hour", hour("date")))
df.show(2)

+-------------------+----+
|               date|hour|
+-------------------+----+
|2019-02-01 15:12:13|  15|
|  2018-04-01 5:12:3|   5|
+-------------------+----+
only showing top 2 rows

### last_day

In [84]:
# It will return last of the Month for a given date.
# For e.g. for 5th Jan 2019, it will return 31st Jan 2019, since this is the last date for the Month.

df = empdf.select("date").withColumn("last_date", last_day("date"))
df.show(2)

+-------------------+----------+
|               date| last_date|
+-------------------+----------+
|2019-02-01 15:12:13|2019-02-28|
|  2018-04-01 5:12:3|2018-04-30|
+-------------------+----------+
only showing top 2 rows

### minute

In [85]:
# It will return minute part of the date.
df = (empdf
    .select("date")
    .withColumn("minute", minute("date")))
df.show(2)

+-------------------+------+
|               date|minute|
+-------------------+------+
|2019-02-01 15:12:13|    12|
|  2018-04-01 5:12:3|    12|
+-------------------+------+
only showing top 2 rows

### month

In [86]:
# It will return month part of the date.
df = (empdf
    .select("date")
    .withColumn("month", month("date")))
df.show(2)

+-------------------+-----+
|               date|month|
+-------------------+-----+
|2019-02-01 15:12:13|    2|
|  2018-04-01 5:12:3|    4|
+-------------------+-----+
only showing top 2 rows

### months_between

In [87]:
# It will return the difference between the dates in terms of months. 
# If first date is greater than second one result will be positive else negative.
# For e.g. between 6th Feb 2019 and 5th Jan 2019 it will return 1.

df = (empdf
    .select("date")
    # Add another date column as current date.        
    .withColumn("current_date", current_date()) 
    # Take the difference between current_date and date column in terms of months.
    .withColumn("months_between", months_between("current_date", "date"))) 
df.show(2)

# Note from Spark 2.4.0 onwards you can specify third argument "roundOff=True" to round-Off the value. 
# Default value is True.

+-------------------+------------+--------------+
|               date|current_date|months_between|
+-------------------+------------+--------------+
|2019-02-01 15:12:13|  2019-10-09|    8.23762955|
|  2018-04-01 5:12:3|  2019-10-09|   18.25107415|
+-------------------+------------+--------------+
only showing top 2 rows

### next_day

In [88]:
# It will return the next day based on the dayOfWeek specified in next argument.
# For e.g. for 1st Feb 2019 (Friday) if we ask for next_day as sunday, it will return 3rd Feb 2019.

df = (empdf
    .select("date")
    .withColumn("next_day", next_day("date", "sun")))
df.show(2)

+-------------------+----------+
|               date|  next_day|
+-------------------+----------+
|2019-02-01 15:12:13|2019-02-03|
|  2018-04-01 5:12:3|2018-04-08|
+-------------------+----------+
only showing top 2 rows

### quarter

In [89]:
# It will return quarter of the given date as integer.

df = (empdf
    .select("date")
    .withColumn("quarter", quarter("date")))
df.show(2)

+-------------------+-------+
|               date|quarter|
+-------------------+-------+
|2019-02-01 15:12:13|      1|
|  2018-04-01 5:12:3|      2|
+-------------------+-------+
only showing top 2 rows

### second

In [90]:
# It will return the second part of the date.

df = (empdf
    .select("date")
    .withColumn("second", second("date")))
df.show(2)

+-------------------+------+
|               date|second|
+-------------------+------+
|2019-02-01 15:12:13|    13|
|  2018-04-01 5:12:3|     3|
+-------------------+------+
only showing top 2 rows

### to_date

In [91]:
# It will convert the String or TimeStamp to Date.

df = (empdf
    .select("date")
    .withColumn("to_date", to_date("date")))
df.show(2)

# Note : Check the data type of column "date" and "to-date".
# If the string format is 'yyyy-MM-dd HH:mm:ss' then we need not to specify the format. 
# Otherwise, specify the format as second arg in to_date function.

+-------------------+----------+
|               date|   to_date|
+-------------------+----------+
|2019-02-01 15:12:13|2019-02-01|
|  2018-04-01 5:12:3|2018-04-01|
+-------------------+----------+
only showing top 2 rows

### to_date with different date format.

In [92]:
# Here we will convert the string of format 'dd/MM/yyyy HH:mm:ss' to "date" data type. Default format it 'yyyy-MM-dd`.
df1 = spark.createDataFrame([('15/02/2019 10:30:00',)], ['date'])
df2 = (df1
    .withColumn("new_date", to_date("date", 'dd/MM/yyyy HH:mm:ss')))
    
df2.show(2)

+-------------------+----------+
|               date|  new_date|
+-------------------+----------+
|15/02/2019 10:30:00|2019-02-15|
+-------------------+----------+

### to_timestamp

In [93]:
# It will convert the String to TimeStamp. Here we will convert the string of format 'dd/MM/yyyy HH:mm:ss' to "timestamp" data type.
# default format is 'yyyy-MM-dd HH:mm:ss'

df1 = spark.createDataFrame([('15/02/2019 10:30:00',)], ['date'])
df2 = (df1
    .withColumn("new_date", to_timestamp("date", 'dd/MM/yyyy HH:mm:ss')))
df2.show(2)

+-------------------+-------------------+
|               date|           new_date|
+-------------------+-------------------+
|15/02/2019 10:30:00|2019-02-15 10:30:00|
+-------------------+-------------------+

### to_utc_timestamp

In [94]:
# Convert given timestamp to UTC timestamp.
# For e.g. lets convert the "PST" timestamp to "UTC" timestamp.
df = (empdf
    .select("date")
    .withColumn("utc_timestamp", to_utc_timestamp("date", "PST")))
df.show(2)

+-------------------+-------------------+
|               date|      utc_timestamp|
+-------------------+-------------------+
|2019-02-01 15:12:13|2019-02-01 23:12:13|
|  2018-04-01 5:12:3|2018-04-01 12:12:03|
+-------------------+-------------------+
only showing top 2 rows

### weekofyear

In [95]:
# It will return the weekofyear for the given date.

df = (empdf
    .select("date")
    .withColumn("weekofyear", weekofyear("date")))
df.show(2)

+-------------------+----------+
|               date|weekofyear|
+-------------------+----------+
|2019-02-01 15:12:13|         5|
|  2018-04-01 5:12:3|        13|
+-------------------+----------+
only showing top 2 rows

### year

In [96]:
# It will return the year part of the date.

df = (empdf
    .select("date")
    .withColumn("year", year("date")))
df.show(2)

+-------------------+----+
|               date|year|
+-------------------+----+
|2019-02-01 15:12:13|2019|
|  2018-04-01 5:12:3|2018|
+-------------------+----+
only showing top 2 rows

# THANK YOU